{deps, [
         {cf_client, {git, "https://github.com/joergen7/cf_client.git",
                           {branch, "master"}}},
         {cf_worker, {git, "https://github.com/joergen7/cf_worker.git",
                           {branch, "master"}}}
       ]}.

{cover_enabled, true}.
{escript_incl_apps, [cf_client, cf_worker, cre, effi, gen_pnet, lib_combin, lib_conf]}.
