{erl_opts, [debug_info]}.
{cover_enabled, true}.

{deps, [
        {cf_client, "0.1.6"},
        {cf_worker, "0.1.6"},
        {cre,       "0.1.8"},
        {getopt,    "1.0.1"},
        {lib_conf,  "0.1.5"}
       ]}.

{escript_incl_apps, [cf_client, cf_worker, cre, effi, gen_pnet, getopt,
                     jsone, lib_combin, lib_conf]}.

