{cover_enabled, true}.
{deps, [
        {effi,   {git, "https://github.com/joergen7/effi.git",
                       {tag, "0.1.1-release"}}},
        {getopt, {git, "https://github.com/jcomellas/getopt.git",
                       {tag, "v0.8.2"}}},
        {jsone,  {git, "https://github.com/sile/jsone.git",
                       {tag, "1.4.3"}}}
       ]}.
{escript_incl_apps, [getopt, effi, jsone]}.
